{% extends "layout.html" %}

{% block head %}

    <title>About | Nikhil Dharmaraj</title>
    <link href="/static/about-styles.css" rel="stylesheet">

{% endblock %}

{% block body %}
    <div id="container">
        <img src="https://lh3.googleusercontent.com/cdVxUOTQ0S2ZvKm2oQITF-fEIiKVh9C3IvbxWVxGTzNZj4pd6VpTLMlqiruUO8pq3nCC9UKRnnQiRd6Md2Rv_x_w_AzUCWmvTUU9gh2I_H581lvl_cANjEQupn41e7rT1X8e-zaR_z60_af4HNNTX4jr5u5vxxAX4EnWfCFdyNUhGFcs8Xwa-d9G487v2oLM2SvT78jSSWwxrFJBBruz92nHafEbwK_EP0RMfJwfhWeQVbQsSckOrYkwjv7UvykLXts2hRZJ-Ytl8rSJ8L6rbmJgZkNhoanrOYwj6IOMvjGFhQeCUKpIVhYh24sdta6Ab1D7fD_w0eg1ex4K6sf-1ew63n8_vtcdvCIC35r2xSrfytN7FSGHoLPHvp7HL0wLmCJ1SOME6Y-awqmcWC7jSoRn-uep4X4pRrX5TcesDUOgB6_cgnd0tSh1qv_T8QHfQAmaj8KLWDlLN1bt0IcirY-KjMz5FA7ONX92w12fLSzvjhr7H201lZBlEyjIPT0p0c8NupD4dMZB8pa6gTppDUYp-e40wkg1ZiulF8rKKozVGYNbo2mvNOvCC66OB1emSjU9iJpZUF0BW0KlAoR94xDIOPvvfAZLX2DleCWRrl_F-danwOswrZuzIrHeEGLh_SrIG0qL8JaPZBCOnVAbHLTwWVO0_7pZVwWVWP-Swb-_SqEGJEuTPQKhryZb=w1534-h1498-no?authuser=0" loading="lazy" alt="Personality">
        <div id="about">
            <p>
                My name is Nikhil, and I'm a sophomore at Harvard studying <b>History & Literature (Modern World Track) and Computer Science</b>, with a secondary degree in <b>South Asian Studies</b>.
                I grew up as a settler on stolen Ohlone land, in the Bay Area, CA, but I currently am an undergraduate student at Harvard University, on stolen Pawtucket & Massa-adchu-es-et land (gratitude to 
                <a class="pagelink" href="https://native-land.ca/">Native Land</a>). Broadly, I'm passionate about the intersections of technology and social justice, and
                I've been lucky enough to explore these rich junctions through various internships, research opportunities, and advocacy projects.
            </p>
            <p>
                Specifically, my interests lie in thinking about what it means to apply anti-imperialist perspectives to the production of artificial intelligence today; what we can do to build collective power against
                oppressive, carceral technological systems; how we can build technology for more revolutionary futures. Technically speaking, I enjoy working
                on projects that involve machine learning and, specifically, natural language processing (NLP)! Some tools I enjoy working with are Keras, React Native, JavaScript, Python, & Swift.
            </p>
            <p>
                On campus, I'm really involved with <a class="pagelink" href="https://www.harvardsaa.com/">Harvard South Asian Association (SAA)</a> and the <a class="pagelink" href="https://www.harvardtapas.com/">Harvard 
                Task Force for Asian Progressive Advocacy & Studies (TAPAS)</a> (where I work on the Decolonization committee)!
            </p>
            <p>
                In my free time, I love to cook, learn languages, drink coffee, eat Chaat, ski, go on long late-night drives with my younger sister, and explore new cities. You can also find me fawning over one of my two adorable puppies
                <a class="pagelink" href="http://instagram.com/dobby.and.leia">here</a>.
            </p>
            <br>
            <p>
                📍 Current location: On stolen Ramaytush, Ohlone, & Muwekma land (San Francisco, CA)
            </p>
            <p>
                📖 What I'm Reading: <i>Beloved</i> by Toni Morrison (see my full list <a class="pagelink" href="https://docs.google.com/document/d/1k9l904_Ib40QXX7GxZH7Fg9dJ7yo_ny38N10CKOq0jU/edit?usp=sharing">here)</a>!
            </p>
            <p>
                🎶 What I'm Listening To: <a class="pagelink" href="https://open.spotify.com/artist/2kQnsbKnIiMahOetwlfcaS">Raveena</a> (<i>Tweety</i>)
            </p>
            <p>
                 Resource Guides: <a class="pagelink" href="https://tinyurl.com/resourcespsc">Shared Resources on Palestinian Liberation</a>, <a class="pagelink" href="https://docs.google.com/document/d/1WhnAKVe3UIrm2qkluguQMZcI0lIjofWygZo4TKIBTK8/edit">Decolonization Resource Guide</a>, 
                 <a class="pagelink" href="https://www.equalitylabs.org/castereadinglist"> Caste Abolition Reading Guide (Equality Labs)
            </p>
        </div>
    </div>

{% endblock %}

