{% extends "layout.html" %}

{% block head %}

    <title>Contact | Nikhil Dharmaraj</title>
    <link href="/static/contact-styles.css" rel="stylesheet">

{% endblock %}

{% block body %}

<div id="email">
    <p id="email">
        Please say hello! I'd love to meet you & grab some (virtual!) coffee! :)
        <br>
        <img src="https://img.icons8.com/cute-clipart/64/000000/letter.png"/>
        <a class="pagelink" href="mailto:ndharmaraj@college.harvard.edu">ndharmaraj@college.harvard.edu</a>
    </p>
</div>

{% endblock %}

