{% extends "layout.html" %}

{% block head %}

    <title>Home | Nikhil Dharmaraj</title>
    <link href="/static/home-styles.css" rel="stylesheet">
    
{% endblock %}

{% block body %}

    <img src="https://lh3.googleusercontent.com/yTUt-oS0rq-knw-wpo3lSSef0y0euZxmUl0XWBaKwxwzGU2GHWN3bonZzQjQriq-rnbmBHiGg8fy1PcokxaCahSkDpElRaaP1HfCHdFkF7v_lhVSGgRVX8rR7vVXFrLbm0pQ-N-iLS6Q3HaTPy3TraVlxSm4eFEQXyHVGbEa3hp45Oy7AX8J1keUInZRQ-t-5so3Yt-0j73WsI23KpBRcu6GxwcwBmjF2FC0DbShNQWNr5mrbJyPStQVxxxzUQhBgO66PJkbqh8uYmLXa2tG0sDSaHdnEsb0V8DCzbc--epMvLv3O078Bu7eL-OgP8ZbmOyvvsqNXg9JDmONuGAzFM3IZrQEC18OUqgc_l5739OiEr4hTPPqtMTRK1RE9YSKSGx9SCxfATj-TXJ42W6gFDbKrApcmI_GNju4oapqMIMfpws72PUa17RApgoTJQ_-S1u7VWHoMnxf5qt6tujSOAm-ehWQJF4D_smEotN_LsXCicrfUdNm9zlaOsaR1iHLFOYUoxYmdkIglcJiJubugiM_WHHPe97cD8jiDFU6GeKgFpy-IlqZ0BbG8whpShNI77Aikbqj9HrtHa0C4CMjyr66hmPQkW17s1qU3ppgmGSr57MZVT_LJ4f7QTIFrI9-f31n5yJjVc75iYW9bq86NadFfZdJ2fxZsN7ZNzecWaLaB8Prvxoh-i37TmWN=w1380-h1832-no?authuser=0" loading="lazy" alt="Avatar">
    <p class="intro">
        Hi! &#X1F44B&#X1F3FD Welcome to my little corner of the internet! I'm Nikhil (<i>pronouns: he/him/his</i>), and I'm a sophomore at Harvard studying <b>History & Literature (Modern World Track) and Computer Science</b>,
        with a secondary degree in <b>South Asian Studies</b>. I'm passionate about the intersection between computer science and critical studies of identity & coloniality; radical uses of technology for liberation movements; the digital humanities; STS; algorithmic fairness;
        and applications of AI to education, media, and justice.
    </p>
    <hr>
    <p class="intro">
         Currently, I'm:
        <div class="list">
            <ul>
                <li>organizing around deep technology & critical race theory over at <a span class="pagelink" href="https://www.theyurixfoundation.org">The YX Foundation</a></li>
                <li>automating the archiving of documents for public abolitionist knowledge with the <a class="pagelink" href="https://stoplapdspying.org/">Stop LAPD Spying Coalition</a></li>
                <li>instructing students as a TF for Harvard's <a class="pagelink" href="https://cs50.harvard.edu/hls/2021/winter/">CS50 for JDs</a> (and leading <a class="pagelink" href="https://cs50.harvard.edu/hls/2021/winter/seminars/#algorithmic-bias--surveillance-capitalism-critical-eyes-towards-race-gender--identity">this</a> seminar!)</li>
            </ul>
        </div>
    </p>
    <p class="intro">
    	Coming up, I'll be:
       <div class="list">
            <ul>
                <li>building community and public scholarship around equitable technology at <a class="pagelink" href="https://www.radicalai.org/">The Radical AI Podcast</a> (Spring 2021)</li>
                <li>working on the Recommendations Personalize Team as a Software Engineering Intern at <a class="pagelink" href="https://www.etsy.com/">Etsy</a> (Summer 2021)</li>
            </ul>
        </div>
    </p>

{% endblock %}

